{{define "main"}}
<div class="section section-header">
  <div class="parallax filter parallax-header">
    <div
      class="bg-cover bg-cover-parallax"
      style="
            background-image: url('{{relURL `/images/rice-bg-intro.jpg`}}');
            transform: translate3d(0px, 0px, 0px);
          "
    ></div>
    <div class="container container-header">
      <div class="content text-center text-white">
        <p>
          <span>by</span>
          Van Anh
        </p>
        <h1>Sefl Introduction</h1>

        <div data-aos="fade-down" data-aos-anchor-placement="top-center">
          <div class="lead">a front-end Web Developer</div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="scroll-down-arrow text-center text-light hidden-scroll-down"
    data-scroll="true"
    href=""
    data-id="#firstSection"
    ><i class="fas fa-angle-down"></i
  ></a>
  <div></div>
</div>
<div id="firstSection" class="section">
  <div class="title-area text-center">
    <h2 class="my-3 px-2">
      Our company will take your startup to the next level for sure!
    </h2>
    <div class="separator text-danger">♦</div>
    <p>
      Our company is a group of professional individuals looking to create
      amazing pieces of clothing. We have studied at the best schools of design,
      we have tailored the suits for the most stylish men in the industry, we
      are what you need!
    </p>
  </div>
  <div class="parallax filter parallax-small">
    <div
      class="bg-cover bg-cover-parallax"
      style="background-image: url({{relURL `images/bg-rice-2.jpg`}});"
    ></div>
  </div>
</div>
<div class="section">
  <div class="title-area text-center">
    <h6 class="text-secondary">Here you can check</h6>
    <h2 class="my-3 px-2">
      My Projects
    </h2>
    <div class="separator text-danger">♦</div>
    <p>
      Our company is a group of professional individuals looking to create
      amazing pieces of clothing. We have studied at the best schools of design,
      we have tailored the suits for the most stylish men in the industry, we
      are what you need!
    </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-4 p-0">
        <div class="project">
          <img src="{{relURL `images/project-1.jpg`}}" />
          <a class="over-area text-white">
            <div class="content text-center">
              <span class="badge badge-success">The First Project</span>
              <h5 class="my-3">Working by Frontend Developer position</h5>
              <p>is a nice work</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 p-0">
        <div class="project">
          <img src="{{relURL `images/project-2.jpg`}}" />
          <a class="over-area text-white">
            <div class="content text-center">
              <span class="badge badge-danger">The Second Project</span>
              <h5 class="my-3">Wedding</h5>
              <p>get merried</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 p-0">
        <div class="project">
          <img src="{{relURL `images/project-3.jpg`}}" />
          <a class="over-area text-white">
            <div class="content text-center">
              <span class="badge badge-secondary">The Third Project</span>
              <h5 class="my-3">Create Rice</h5>
              <p>the first daughter</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 p-0">
        <div class="project">
          <img src="{{relURL `images/project-4.jpg`}}" />
          <a class="over-area text-white">
            <div class="content text-center">
              <span class="badge badge-info">The Fourth Project</span>
              <h5 class="my-3">Looking for a new great Job</h5>
              <p>...loading</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 p-0">
        <div class="project">
          <img src="{{relURL `images/project-5.jpg`}}" />
          <a class="over-area text-white">
            <div class="content text-center">
              <span class="badge badge-info">The Fifth Project</span>
              <h5 class="my-3">Looking for a new great Job</h5>
              <p>...loading</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 p-0">
        <div class="project">
          <img src="{{relURL `images/project-6.jpg`}}" />
          <a class="over-area text-white">
            <div class="content text-center">
              <span class="badge badge-info">The Sixth Project</span>
              <h5 class="my-3">Looking for a new great Job</h5>
              <p>...loading</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section client-section">
  <div class="container">
    <div class="title-area text-center">
      <h6 class="text-secondary">Here are some of</h6>
      <h2 class="my-3 px-2">
        My Clients
      </h2>
      <div class="separator text-danger">♦</div>
    </div>
    <ul class="client-items text-center nav mb-3" id="pills-tab" role="tablist">
      <li class="p-3 nav-item" role="presentation">
        <a
          id="client-apple-tab"
          class="nav-link active text-secondary border-0"
          data-toggle="pill"
          href="#apple"
          aria-controls="apple"
          aria-selected="true"
        >
          <div class="client-logo mx-3">
            <i class="fab fa-apple"></i>
            <h4 class="my-3">Apple</h4>
          </div>
        </a>
      </li>
      <li class="p-3 nav-item" role="presentation">
        <a
          id="client-dropbox-tab"
          class="nav-link text-secondary border-0"
          data-toggle="pill"
          href="#dropbox"
          aria-controls="dropbox"
          aria-selected="false"
        >
          <div class="client-logo mx-3">
            <i class="fab fa-dropbox"></i>
            <h4 class="my-3">Dropbox</h4>
          </div>
        </a>
      </li>
      <li class="p-3 nav-item" role="presentation">
        <a
          id="client-facebook-tab"
          class="nav-link text-secondary border-0"
          data-toggle="pill"
          href="#facebook"
          aria-controls="facebook"
          aria-selected="false"
        >
          <div class="client-logo mx-3">
            <i class="fab fa-facebook-square"></i>
            <h4 class="my-3">Facebook</h4>
          </div>
        </a>
      </li>
      <li class="p-3 nav-item" role="presentation">
        <a
          id="client-youtube-tab"
          class="nav-link text-secondary border-0"
          data-toggle="pill"
          href="#youtube"
          aria-controls="youtube"
          aria-selected="false"
        >
          <div class="client-logo mx-3">
            <i class="fab fa-youtube"></i>
            <h4 class="my-3">Youtube</h4>
          </div>
        </a>
      </li>
      <li class="p-3 nav-item" role="presentation">
        <a
          id="client-google-tab"
          class="nav-link text-secondary border-0"
          data-toggle="pill"
          href="#google"
          aria-controls="google"
          aria-selected="false"
        >
          <div class="client-logo mx-3">
            <i class="fab fa-google"></i>
            <h4 class="my-3">Google</h4>
          </div>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="apple"
        role="tabpanel"
        aria-labelledby="client-apple-tab"
      >
        <p class="description">
          And I used a period because contrary to popular belief I strongly
          dislike exclamation points! We no longer have to be scared of the
          truth feels good to be home In Roman times the artist would
          contemplate proportions and colors. Now there is only one important
          color... Green I even had the pink polo I thought I was Kanye I
          promise I will never let the people down. I want a better life for
          all!
        </p>
      </div>

      <div
        class="tab-pane fade"
        id="dropbox"
        role="tabpanel"
        aria-labelledby="client-dropbox-tab"
      >
        <p class="desctiprion">
          Green I even had the pink polo I thought I was Kanye I promise I will
          never let the people down. I want a better life for all! And I used a
          period because contrary to popular belief I strongly dislike
          exclamation points! We no longer have to be scared of the truth feels
          good to be home In Roman times the artist would contemplate
          proportions and colors. Now there is only one important color...
        </p>
      </div>
      <div
        class="tab-pane fade"
        id="facebook"
        role="tabpanel"
        aria-labelledby="client-facebook-tab"
      >
        <p class="desctiprion">
          I used a period because contrary to popular belief I strongly dislike
          exclamation points! We no longer have to be scared of the truth feels
          good to be home In Roman times the artist would contemplate
          proportions and colors. The 'Gaia' team did a great work while we were
          collaborating. They provided a vision that was in deep connection with
          our needs and helped us achieve our goals.
        </p>
      </div>
      <div
        class="tab-pane fade"
        id="youtube"
        role="tabpanel"
        aria-labelledby="client-youtube-tab"
      >
        <p class="desctiprion">
          The 'Gaia' team did a great work while we were collaborating. They
          provided a vision that was in deep connection with our needs and
          helped us achieve our goals. We couldn't thank the 'Gaia' team enough
          for their excellent service. We had an wonderful time developing the
          plans for our new office building and we can tell you that our
          employees felt at home since the first day they moved here.
        </p>
      </div>
      <div
        class="tab-pane fade"
        id="google"
        role="tabpanel"
        aria-labelledby="client-google-tab"
      >
        <p class="desctiprion">
          loading...
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section section-getstarted pb-0">
  <div class="parallax filter">
    <div
      class="bg-cover bg-cover-parallax"
      style="background-image: url('{{relURL `/images/header-13.jpeg`}}'); transform: translate3d(0px, 0px, 0px);"
    ></div>
    <div class="container">
      <div class="title-area text-center text-light">
        <h2 class="my-3 px-2">
          Want to get started with us?
        </h2>
        <div class="separator">♦</div>
        <p class="description">
          We are keen on creating a second skin for anyone with a sense of
          style! We design our clothes having our customers in mind and we never
          disappoint!
        </p>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-warning">
          Get started
        </button>
      </div>
    </div>
  </div>
</div>
{{end}}
