<head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 shrink-to-fit=no"
    />
    <title>Self Introduction</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />
   
    {{ $css := resources.Get "scss/theme.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/f75e5e6f69.js"
      crossorigin="anonymous"
    ></script>
  </head>